.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo{
  width: 200px;
}
.nav-items>ul{
  display:flex;
  list-style-type: none;
  padding: 0px 20px;
  font-size: 24px;
}
.nav-items>ul>li{
  padding: 10px;
  margin: 10px;
}
.res-card{
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: auto;
  text-overflow: ellipsis
}
.res-card:hover{
  border: 1px solid black;
}
.search{
  padding: 10px;
}
.res-logo{
  object-fit: cover; 
  height: 150px;
  width: 100%;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.filter{
  display: flex;
  margin: 10px;
  margin: 20px 0;
  
}
.searchBtn{
  margin: 5px;
}
.shimmer-card{
  margin: 20px;
  padding: 5px;
  width: 200px;
  height: 350px;
  background-color: #f0f0f0;
}
.shimmer-container{
display: flex;
flex-wrap: wrap;
}
.login{
  
  width: 53px;
  height: 40px;


}
.user-class{
  border: 1px solid black;
  margin:10px 0px;
  padding-left: 20px;
}
.restaurant-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.restaurant-link:hover {
  color: #7f7f7f;
}